/* Navbar */
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    color: #E8E6E3;
    scrollbar-color: #000000;
}

body {
    background-color: #181A1B;
}

.material-symbols-outlined {
    position: relative;
    top: 5px;
    overflow-y: hidden;
}


.navbar {
    /* background-color: #202325; */
    -webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
    background-color: transparent;
    /* box-shadow: 0px 3px 10px #2c2c2c; */
    height: 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    z-index: 999;
}
.navbar .logo img {
    width: 140px;
    height: auto;
}
.navbar .links {
    overflow: hidden;
}
.navbar .links a {
    font-family: 'Nunito Sans', sans-serif;
    padding: 8px 15px;
    margin: 5px 0px;
    text-decoration: none;
    color: #ffffff;
}
.navbar .links a:hover {
    color: #2CB884;
    transition: 0.3s;
}


.hero {
    position: relative;
    height: 50vh;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
}
.hero img {
    width: 100vw;
    opacity: 90%;
    filter: brightness(60%);
}
.hero #head {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-65%);
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}
.hero #body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,+80%);
    font-size: 15px;
    color: #d6d6d6;
    overflow: hidden;
}
.fas {
    position: relative;
    padding: 0 5px;
    bottom: -2px;
}


/* Footer */
.footer {
    padding: 6vh 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0D0E0E;
    color: #ffffff;
}
.footer #heading {
    margin-bottom: 10px;
    font-size: 20px;
    color: #ffffff;
}
.footer .left {
    display: flex;
    flex-direction: column;
}
.footer .left a {
    text-decoration: none;
    color: #b9b9b9;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 2px;
    padding: 1px 0;
}
.footer .left a:hover {
    text-decoration: underline;
    transition: 0.3s;
}
.footer .right p {
    font-size: 14px;
    color: #b9b9b9;
    font-family: 'Nunito Sans', sans-serif;
}